<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>4waycabs</display-name>
  <filter>
    <filter-name>StaticResourceFilter</filter-name>
    <filter-class>connect.StaticResourceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StaticResourceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
	    <location>/app/index.html</location>
  </error-page>
  <servlet>
    <servlet-name>Connect</servlet-name>
    <servlet-class>common.db.Config</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
      <servlet-name>call</servlet-name>
      <servlet-class>connect.call</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>call</servlet-name>
    <url-pattern>/call/</url-pattern>
    <url-pattern>/call</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>getSessionAttribute</servlet-name>
      <servlet-class>connect.getSessionAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSessionAttribute</servlet-name>
    <url-pattern>/getSessionAttribute/</url-pattern>
    <url-pattern>/getSessionAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>JSONConvertFromFile</servlet-name>
      <servlet-class>connect.JSONConvertFromFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONConvertFromFile</servlet-name>
    <url-pattern>/JSONConvertFromFile/</url-pattern>
    <url-pattern>/JSONConvertFromFile</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>JSONUpdateFile</servlet-name>
      <servlet-class>connect.JSONUpdateFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONUpdateFile</servlet-name>
    <url-pattern>/JSONUpdateFile/</url-pattern>
    <url-pattern>/JSONUpdateFile</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>JSONDeleteFromFile</servlet-name>
      <servlet-class>connect.JSONDeleteFromFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONDeleteFromFile</servlet-name>
    <url-pattern>/JSONDeleteFromFile/</url-pattern>
    <url-pattern>/JSONDeleteFromFile</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>getUser</servlet-name>
      <servlet-class>connect.getUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUser</servlet-name>
    <url-pattern>/getUser/</url-pattern>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>logoutSession</servlet-name>
      <servlet-class>connect.logoutSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutSession</servlet-name>
    <url-pattern>/logoutSession/</url-pattern>
    <url-pattern>/logoutSession</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>removeSessionAttribute</servlet-name>
      <servlet-class>connect.removeSessionAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeSessionAttribute</servlet-name>
    <url-pattern>/removeSessionAttribute/</url-pattern>
    <url-pattern>/removeSessionAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>setSessionAttribute</servlet-name>
      <servlet-class>connect.setSessionAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setSessionAttribute</servlet-name>
    <url-pattern>/setSessionAttribute/</url-pattern>
    <url-pattern>/setSessionAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Submit</servlet-name>
      <servlet-class>connect.Submit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/Submit/</url-pattern>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>UploadFiles</servlet-name>
      <servlet-class>connect.UploadFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFiles</servlet-name>
    <url-pattern>/UploadFile/</url-pattern>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Home</servlet-name>
      <servlet-class>webapp.mapping.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home/</url-pattern>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Invalid</servlet-name>
      <servlet-class>webapp.mapping.Invalid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalid</servlet-name>
    <url-pattern>/Invalid/</url-pattern>
    <url-pattern>/Invalid</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>webapp.mapping.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login/</url-pattern>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>webapp.mapping.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout/</url-pattern>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Book</servlet-name>
      <servlet-class>webapp.mapping.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book/</url-pattern>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Terms</servlet-name>
      <servlet-class>webapp.mapping.Terms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Terms</servlet-name>
    <url-pattern>/Terms/</url-pattern>
    <url-pattern>/Terms</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Register</servlet-name>
      <servlet-class>webapp.mapping.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register/</url-pattern>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Guest</servlet-name>
      <servlet-class>webapp.mapping.Guest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guest</servlet-name>
    <url-pattern>/Guest/</url-pattern>
    <url-pattern>/Guest</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Account</servlet-name>
      <servlet-class>webapp.mapping.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account/</url-pattern>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>ActivateAccount</servlet-name>
      <servlet-class>webapp.mapping.ActivateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateAccount</servlet-name>
    <url-pattern>/ActivateAccount/</url-pattern>
    <url-pattern>/ActivateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Admin</servlet-name>
      <servlet-class>webapp.mapping.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin/</url-pattern>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminLogout</servlet-name>
      <servlet-class>webapp.mapping.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout/</url-pattern>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SecurePages</web-resource-name>
      <description>Security constraint for resources in the secure directory</description>
      <url-pattern>/Admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Secure Access</description>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <description>SSL not required</description>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <description>Secure Access</description>
    <role-name>admin</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/app/pages/admin/login.html</form-login-page>
      <form-error-page>/app/pages/admin/invalid.html</form-error-page>
    </form-login-config>
  </login-config>
  <servlet>
      <servlet-name>AdminBannerImage</servlet-name>
      <servlet-class>webapp.mapping.AdminBannerImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBannerImage</servlet-name>
    <url-pattern>/Admin/BannerImage/</url-pattern>
    <url-pattern>/Admin/BannerImage</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminBannerContact</servlet-name>
      <servlet-class>webapp.mapping.AdminBannerContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBannerContact</servlet-name>
    <url-pattern>/Admin/BannerContact/</url-pattern>
    <url-pattern>/Admin/BannerContact</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminLogoImage</servlet-name>
      <servlet-class>webapp.mapping.AdminLogoImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoImage</servlet-name>
    <url-pattern>/Admin/LogoImage/</url-pattern>
    <url-pattern>/Admin/LogoImage</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminIDTypes</servlet-name>
      <servlet-class>webapp.mapping.AdminIDTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIDTypes</servlet-name>
    <url-pattern>/Admin/IDTypes/</url-pattern>
    <url-pattern>/Admin/IDTypes</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminVehicleModels</servlet-name>
      <servlet-class>webapp.mapping.AdminVehicleModels</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVehicleModels</servlet-name>
    <url-pattern>/Admin/VehicleModels/</url-pattern>
    <url-pattern>/Admin/VehicleModels</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminHowWeWork</servlet-name>
      <servlet-class>webapp.mapping.AdminHowWeWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHowWeWork</servlet-name>
    <url-pattern>/Admin/HowWeWork/</url-pattern>
    <url-pattern>/Admin/HowWeWork</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminOurStoryData</servlet-name>
      <servlet-class>webapp.mapping.AdminOurStoryData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOurStoryData</servlet-name>
    <url-pattern>/Admin/OurStoryData/</url-pattern>
    <url-pattern>/Admin/OurStoryData</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminOurStoryImages</servlet-name>
      <servlet-class>webapp.mapping.AdminOurStoryImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOurStoryImages</servlet-name>
    <url-pattern>/Admin/OurStoryImages/</url-pattern>
    <url-pattern>/Admin/OurStoryImages</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminUserReviews</servlet-name>
      <servlet-class>webapp.mapping.AdminUserReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserReviews</servlet-name>
    <url-pattern>/Admin/UserReviews/</url-pattern>
    <url-pattern>/Admin/UserReviews</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminAd</servlet-name>
      <servlet-class>webapp.mapping.AdminAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAd</servlet-name>
    <url-pattern>/Admin/Ad/</url-pattern>
    <url-pattern>/Admin/Ad</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>ConfirmBooking</servlet-name>
      <servlet-class>webapp.mapping.ConfirmBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBooking</servlet-name>
    <url-pattern>/ConfirmBooking/</url-pattern>
    <url-pattern>/ConfirmBooking</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminManageOrder</servlet-name>
      <servlet-class>webapp.mapping.AdminManageOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageOrder</servlet-name>
    <url-pattern>/Admin/ManageOrder/</url-pattern>
    <url-pattern>/Admin/ManageOrder</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>LoginForgotPassword</servlet-name>
      <servlet-class>webapp.mapping.LoginForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForgotPassword</servlet-name>
    <url-pattern>/Login/ForgotPassword/</url-pattern>
    <url-pattern>/Login/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>LoginResetPassword</servlet-name>
      <servlet-class>webapp.mapping.LoginResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginResetPassword</servlet-name>
    <url-pattern>/Login/ResetPassword/</url-pattern>
    <url-pattern>/Login/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AccountOrderDetails</servlet-name>
      <servlet-class>webapp.mapping.AccountOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountOrderDetails</servlet-name>
    <url-pattern>/OrderDetails/</url-pattern>
    <url-pattern>/OrderDetails</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>AdminCouponCodes</servlet-name>
      <servlet-class>webapp.mapping.AdminCouponCodes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCouponCodes</servlet-name>
    <url-pattern>/Admin/CouponCodes/</url-pattern>
    <url-pattern>/Admin/CouponCodes</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AccountUpdateProfile</servlet-name>
      <servlet-class>webapp.mapping.AccountUpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUpdateProfile</servlet-name>
    <url-pattern>/Account/UpdateProfile/</url-pattern>
    <url-pattern>/Account/UpdateProfile</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>AdminTerms</servlet-name>
      <servlet-class>webapp.mapping.AdminTerms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTerms</servlet-name>
    <url-pattern>/Admin/Terms/</url-pattern>
    <url-pattern>/Admin/Terms</url-pattern>
  </servlet-mapping>
</web-app>